In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [6]:
soup = BeautifulSoup(response, 'html.parser')

In [14]:
soup.find('table').find_all('tr', class_='employee')[0].find_all('td')[1].text

'John Doe'

In [22]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [19]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [24]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age' : age
})

In [25]:
df

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35
5  106     Susan Davis  27
6  107    David Wilson  31
7  108    Linda Miller  33

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [28]:
df['age'] = pd.to_numeric(df['age'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

In [31]:
df['age'].mean()

np.float64(29.875)

In [32]:
df['age'].std()

np.float64(3.563204817496262)